*{
  box-sizing: border-box;
}
body{
    background-color: hsl(40, 11%, 95%);
    background-size: cover; 
    margin: 0;

}
.nav-bar{
    /* background-image: url(picture/weed-wallpaper-1366x768.jpg); */
    background-color:rgb(1, 51, 68);
    padding: 20px 30px;
    background-size: cover;
}
.nav-bar ul{
    display: flex; 
    padding-left: 300px;
}
.nav-bar li{
    list-style-type: none;
    
}
.nav-bar a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 20px;
}
.nav-bar a:hover{
    color: rgb(5, 138, 226);
}
.nav-bar h1{
  color: white;
  padding: 0;
  margin: 0;
}
.slider {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #141414;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

button:hover {
  background-color: #0056b3;
}



.image_page {
    display: flex;
    color: black;
}

.image_page img{
    font-family:20px;
    height: 400px;
    width: 45%;
    margin: 0;
}


.image_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home p{
    padding-left: 22px;
    font-size: 19px;
    color: black;
}
.home a{
  text-decoration: none;
  background-color: rgb(8, 8, 8);
  color: white;
  text-transform: capitalize;
  margin-left:19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.home a:hover{
  background-color: rgb(218, 215, 215);
  color: black;
}
.nav-bar ul li a.active{
  color: #0b99f8;
}
.home h1{
    color: rgb(197, 197, 197);
    text-align: center;
    text-transform: capitalize;
}
.courses .first, .second, .third, .fourth{
  border-bottom: #faf3f3 solid 1px;
  padding-top: 12px;
}
.calender{
  padding-top: 12px;
  padding: 10px;
  margin-left: 20px;
  gap: 30px;
  display: flex;
}/*
.about h1 {
  color: rgb(197, 197, 197);
  text-align: center;
  text-transform: capitalize;
  padding-top: 80px;
}

.about p{
  color: black;
  padding-left: 15px;
  padding-bottom: 300px;
  

}*/
.me-image{
  height: 500px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 30px;
  display: flex;
  color: #0d0f11;
}

button{
  margin-left: 94%;
  font-size: 25px;
  border-radius: 50%;
  width: 60px;
  height: 300px;
  color: #d3caca;
  background-color: #272626;
  position: fixed;
}

.joe p{
  padding-left: 172px;
  color: black;
  font-size: 18px;
}
.me-image h2{
  padding-left: 240px;
}
.me-image img{
    height: 400px;
    width: 400px;
    padding-left: 12px;
    border-radius: 50%;
}


.first-course .second-course img{
  width: 250px;
  height: 250px;
  border-radius: 20%;
}

img{
  width: 250px;
  height: 250px;
  border-radius: 10%;
  padding-left: 12px;
}
.picture-album img{
  width: 250px;
  height: 250px;
  border-radius: 10%;
  padding-left: 12px;
  padding: 5px;  
}

 


.footer-section {
  background-color:#34393b;
  height: 100%;
  width: 100%;
  color: darkblue;
  padding-top: 90px;
}

.social-icons{
  text-align: center;
  
  padding-bottom: 30px;  
  border-bottom: #272626 solid 1px;
}

.social-icons a img{
  width: 55px;
  height: 55px;
  background-color: #201f1f;
  color: #f7fcff;
  font-size: 30px;
  padding: 10px;
}

.social-icons a:hover {
   background-color: #0d0f11;
}
.footer-section p{
  background-color: #34393b;
  padding-top: 35px;
  padding-bottom: 50px;
  color: darkgray;
  
}
.copyright .me{
  color: #fff;
  padding-left: 0px;

}
.copyright{
  text-align: center;
}
.courses {
    padding-left: 19px ;
    padding-right: 100px;
    gap: 20px;
display: flex;
width: 70pc;
}
.testimonial{

  display :flex;
}

.slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin: 15px 15px;
  padding: 0;
  background-color: #006a8a;
}

.slider img {
  width: 80%;
  height: 550px;
  display: none;
}

.slider-controls {
  text-align: center;
  margin-top: 20px;
}

.slider-controls button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 120px 15px 12px;
  border: none;
  background-color: #ee6c01;
  margin: 0 5px;
  cursor: pointer;
}

.slider-controls button.active {
  background-color: #fff7f7;
}